body {
background-color: #191d26;
    background-image: url(http://gph.is/2gvZPLW)
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #bda888;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
  font-size: 20px;
font-family: 'Gill Sans';
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f26f63;
  color: black;
}

.center{
    font-family: 'Gill Sans';
    font-size: 100px;
    color: white;
text-align: center;
    position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-40%, -40%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.polaroid {
  width: 25%;
  background-color: #f26f63;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 margin: 50px;
    display: inline-block;
}
.polaroid:hover{
    transform: scale(1.01);
    transition: transform .2s ease;
}

.containerE {
  text-align: center;
  padding: 10px 20px;
}
  
p{
font-family: 'Gill Sans';
    font-size: 20px;
color: #f2f2f2;
margin: 20px;
    text-align: center;
}
.p1{
font-family: 'Gill Sans';
    font-size: 20px;
color: #f2f2f2;
margin: 20px;
}

.tile{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    padding: 20px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.head{
    font-family: 'Gill Sans';
    font-size: 100px;
color: #f2f2f2;
    font-style: italic;
    margin-top:40px;
    text-align: center;
}
.subHead{
    font-family: 'Gill Sans';
    font-size: 40px;
color: #f2f2f2;
    font-style: italic;
    margin: 20px;
    
}
.subHead img{
    margin: 10px;
    float: right;
}
.smallHead{
    font-family: 'Gill Sans';
    font-size: 20px;
color: #f2f2f2;
    letter-spacing: 2px;
}
.column {
  float: left;
  width: 31%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*.imgAbout{
    float: right;
    width: 30%;
    height: 50%;
margin-left: 10px;
}
*/
figure{
  width: 80%;
display: table;
}
figcaption{
    display: table-caption;
    caption-side: top;
    font-family: 'Gill Sans';
    font-size: 50px;
    font-style: italic;
    color: #f2f2f2;
}